@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .container {
        @apply m-[0_auto] w-95 max-w-7xl px-0 sm:w-90 md:w-80 lg:w-70;
    }
    .container-fluid {
        @apply w-full px-0;
    }
    .button {
        @apply inline-block whitespace-nowrap rounded-md border-0 bg-lime-600 px-4 py-2 font-semibold uppercase text-white outline-none;
        font-size: 0.8rem;
    }
    body {
        @apply bg-slate-400 dark:bg-slate-200;
    }
    .color-primary {
        @apply bg-[#2558ff];
    }
    .color-secondary {
        @apply bg-[#0097C3];
    }
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
